body{
    margin: 0;
    padding: 0;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    padding: 0;
    margin: 0;
    list-style: none;
}
hr.ag-divider {
    width: 100%;
    border: 0;
    height: 2px;
    background: #000;
    background-image: linear-gradient(to bottom, #000, #fff9);
}
#map{
    background-color: #e7e6d9;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
}
.ag-text{
    font-size: 13px;
}

/* START LOGO */

.logo .ankageo{
    position: fixed;
    right: 0;
    bottom: 16px;
    z-index: 9;
    width: 72px;
    margin: 5px;
}
.logo .other{
    width: 60px;
    /* height: 70px; */
    z-index: 9;
    position: fixed;
    right: 0;
    margin: 15px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}
.ag-icon{
    background-repeat: no-repeat;
}
/* END LOGO */


/* START TOP MENU */

#main-header{
    top: 0;
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, 0);

}
#main-header ul.ag-top-menu{
    justify-content: center;
    background-color: #444f63;
    display: flex;
    list-style: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom: #3acde1 solid 3px;
    display: flex;
    flex-wrap: wrap;
}
#main-header ul.ag-top-menu.left{
    box-shadow: inset -10px 0px 10px rgba(0,0,0,0.3);
}
#main-header ul.ag-top-menu.right{
    background-color: #ffb901;
    border-bottom: #c89100 solid 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5px;
}
#main-header a{
    text-decoration: none;
}

ul.ag-top-menu .ag-top-menu-item{
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
    cursor: pointer;
    width: 60px;
    padding: 5px;
    justify-content: center;
    border-radius: 3px;
    position: relative;
}

.ag-top-menu-item .ag-icon{
    width: 28px;
    height: 25px;
    background-position: top;
    transition-duration: 0.2s;
}

.ag-top-menu-item:hover .ag-icon {
    background-position: center;
    transition-duration: 0.2s;
}
.ag-top-menu-item.ag-active .ag-icon{
    background-position: bottom;
}
.ag-top-menu-item .ag-icon.save {
    background-image: url('export/save.png')
}
.ag-top-menu-item .ag-icon.folder {
    background-image: url('export/folder.png')
}
.ag-top-menu-item .ag-icon.info {
    background-image: url('export/info.png')
}
.ag-top-menu-item .ag-icon.location {
    background-image: url('export/pin.png')
}
.ag-top-menu-item .ag-icon.measure {
    background-image: url('export/cetvel.png')
}
.ag-top-menu-item .ag-icon.area {
    background-image: url('export/area_calc.png')
}

/* END TOP MENU */


/* START LEFT MENU */

#leftpane{
    top: 2px;
    left: 0;
    z-index: 10;
    position: absolute;
    display: flex;
    align-items:flex-start;
    align-content:flex-start;
}

.left-menu{
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #424c5e;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: #3acde1 solid 3px;
    
}
.ag-left-menu-item .ag-icon{
    width: 28px;
    height: 25px;
}
.ag-left-menu-item{
    display: flex;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.ag-left-menu-item .ag-icon{
    width: 28px;
    height: 25px;
    background-position: top;
    transition-duration: 0.2s;
}

.ag-left-menu-item:hover .ag-icon {
    background-position: center;
    transition-duration: 0.2s;
}
.ag-left-menu-item.ag-active .ag-icon{
    background-position: bottom;
}
.ag-left-menu-item .info{
    background-image: url('export/info.png')
}
.ag-left-menu-item .layers{
    background-image: url('export/layers.png')
}
.ag-left-menu-item .settings{
    background-image: url('export/settings.png')
}


/* START NESTED MENU */
#leftpane #nested-menu{
    min-width: 200px;
    min-height: 200px;
    background: #444f63;
    border-radius: 5px;
    box-shadow: inset 10px 0px 10px rgba(0,0,0,0.3);
    position: relative;
    color: #a3a7b1;

}
#leftpane div.layer-menu{
    width: 100%;
    padding: 10px;
    padding-top: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    margin: auto;
}
#nested-menu div.layer-menu div.add-layer{
    padding: 5px;
    padding-bottom: 15px;
}

#nested-menu .layer-menu ul.terrain-menu li{
    padding-top: 5px;
    padding-bottom: 5px;
}
div.layer-menu div.add-layer{
    color: #3acde1;
}

ul.layers{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-right: 15px;
}
.layers .layers-scroll{
    max-height: 200px;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a6aab3; 
    border-radius: 10px;
    border-left: 3px solid #444f63;
    border-right: 3px solid #444f63;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #a6aab3; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c3c4cb; 
}
ul.layers li.layer{
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-bottom: 10px;
    
}
ul.layers li.layer div.checkbox{
    margin-bottom: 5px;
}
ul.layers li.layer ul.settings{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    justify-content: space-between;
    list-style: none;
}
ul.layers li.layer ul.settings li{
    width: 100%;
    margin: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
ul.layers li.layer ul.settings .ag-icon{
    width: 100%;
    min-height: 25px;
}

.ag-icon.layer-filter{
    background-image: url('export/layer-filter.png');
}
.ag-icon.layer-focus{
    background-image: url('export/layer-focus.png')
}
.ag-icon.layer-analyze{
    background-image: url('export/layer-analyze.png')
}
/* END NESTED MENU */
/* END LEFT MENU */

/* START COLORS */
.ag-color-primary{
    color: #c3c4cb
}
.ag-color-secondary{
    color: #9ba2ab
}
/* END COLORS */


/* START MEDIA */
@media(max-width:960px){
    #leftpane{
        float: left;
        position: relative;
    }
    #main-header{
        position: relative;
    }
}
/* END MEDIA */